.user-menu {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    cursor: pointer;
}

.greeting {
    color: var(--white-color);
    font-size: 14px;
    margin-right: 4px;
}

.email {
    font-weight: 500;
    font-size: 14px;
    word-break: break-all;
    font-weight: bold;
}

.logout-hint {
    font-size: 12px;
    color: var(--white-color);
    opacity: 0.6;
    transition: opacity 0.2s ease;
    margin-top: 2px;
    font-style: italic;
}