.title {
    font-weight: bold;
    font-size: 64px;
    line-height: 48px;

    .subtitle {
        font-size: 40px;
    }
}

.beer-list {
    margin: auto;
    width: 950px;
    max-width: 100%;
    margin-top: 64px;

    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 1em;
}