<app-layout>
    <div class="separate">
        <div class="left">
            <h1 class="title">
                Welcome, <br />
                <span class="subtitle">To your <span class="accent">OIDC Beers.</span></span>
            </h1>
        </div>
        <div class="right" style="display: flex; flex-direction: column;gap: 10px;">
            @if (auth$ | async; as auth){
            <app-box title="Configuration" subtitle="Current configuration of the application">
                <app-box-value label="api" [value]="configuration.devopsbeerUrl + '/' + configuration.version" />
                <app-box-value label="authority" [value]="auth.authority" />
                <app-box-value label="redirect uri" [value]="auth.redirectUrl" />
                <app-box-value label="Client ID" [value]="auth.clientId" />
                <app-box-value label="Scopes" [value]="auth.scopes" [icon]="KeyIcon" variantStyle="box" />
            </app-box>
            }
        </div>
    </div>
</app-layout>